.sobremi{
  background-color: #000000;
  color: #fff;
  padding: 50px 20px;
}
.sobremi .contenidoseccion{
  max-width: 1100px;
  margin: auto;
}
.sobremi h2{
  font-size: 48px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px 0;

}
.sobremi .contenidoseccion p{
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}
.sobremi .contenidoseccion p span{
  color: #E3B2D3;
  font-weight: bold;
}
.sobremi .fila{
  display: flex;
}
.sobremi .fila .col
{
  width: 50%;
}
.sobremi .fila .col h3{
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}
.sobremi .fila .col ul{
  list-style: none;
}
.sobremi .fila .col ul li{
  margin: 12px 0;
}
.sobremi .fila .col ul li strong{
  display: inline-block;
  color: #E3B2D3;
  width: 130px;
}
.sobremi .fila .col ul li span{
  background-color: #E3B2D3;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}
.sobremi .fila .col .contenedorintereses{
  display: flex;
  flex-wrap: wrap;
}
.sobremi .fila .col .contenedorintereses .interes{
  width: 100px;
  height: 100px;
  background-color: #252A2E;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}.sobremi .fila .col .contenedorintereses .interes:hover{
  background-color: #E3B2D3;
}
.sobremi .fila .col .contenedorintereses .interes i{
  font-size: 30px;
  margin-bottom: 10px;
}
.sobremi button{
  cursor: pointer;
  background-color: transparent;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
  border-radius: 15px;
}
.sobremi button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #E3B2D3;
  z-index: -1;
  transition: 1s;
  border-radius: 15px;
}
.sobremi button:hover .overlay{
  width: 100%;
}

.tech{
  display: flex;
  margin: 20px;
  text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
.imagenes{
  size: 50px;
  width: 15%;
}